
.right-side {
  padding-top: 7%;
  /* justify-content: center;
  align-items: center;
  text-align:center; */
  right: 0;
  background-color: #FFFFFF;
  height: 100vh;
  width: 100vw;
  padding-left:29%;
  padding-right: 1%;

}



.main-area{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}



